<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- nuget.servicewell.config is the custom NuGet config used for CI builds and public publishing.
It replaces the upstream config to properly resolve Microsoft.Extensions.* from nuget.org
while routing Microsoft.Health.* to Microsoft Health OSS.
-->
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
  	<!-- When <clear /> is present, previously defined sources are ignored -->		
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Microsoft Health OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/Public/nuget/v3/index.json" />
  </packageSources>
<packageSourceMapping>
    <packageSource key="Microsoft Health OSS">
      <package pattern="Microsoft.Health.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
